*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent content overflow during animation */
    
}
body a{
    text-decoration: none;
}

ul{
    list-style: none;
}
  
.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver; /* Adjust background color as needed */
    opacity: 1; /* Initial opacity for transition */
    font-size: 2rem;
}

.w {
    opacity: 0; /* Initial opacity for transition */
    transition: opacity 1s ease-in-out; /* Smooth transition on reveal */
}

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 50px;
    background-color: #f0f0f0;
}

#nav-bar h2{
    font-size: 2rem;
}

#work-sec{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 37px;
    font-size: .9rem;
    color: rgb(102, 99, 99);
}

#work-sec h4{
    cursor: pointer;
    padding: 10px 0;
}

#work-sec h4:hover{
    background: linear-gradient(0deg,#5f5e5e 0.5%,#131212 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#menu{
    display: flex;
    justify-content: space-between;
    width: 5rem;
    position: fixed;
    right: 4%;
    top: 5%;
    
}
#menu .h4{
    position: relative;
    font-size: .9rem;
    color: rgb(102, 99, 99);
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid #f0f0f0;
    cursor: pointer;
    color: rgb(39, 37, 37);
}




#search-bar{
    /* background-color: rgb(218, 204, 204); */
    box-shadow: 0 0 5px 0;
    background:#000000a6;
    backdrop-filter: blur(10px);
    /* #000000a6 */
    width: 100%;
    height: 0%;
    position: fixed;
    
    z-index: 2;
    border-radius: 0px;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.search-menu{
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content:end;
    gap: 20px;
    /* padding: 30px 50px; */
}
.search-menu h4{
    font-size: 1.2rem;
    color: #fff;
}

.circle_btn{
    width: 44px;
    height: 44px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(70, 68, 68);
    border-radius: 50%;
    border: 1.5 solid black;
    margin: 30px;
    cursor: pointer;
}
.circle_btn i{
    color: silver;
}

.circle_btn:hover{
    background: #000000a6;
}

.work-sec2{
    display: flex;
    width: 100%;
    height: 84vh;
    justify-content: space-between;
    align-items: center;
   padding: 0 50px;
}

.social-icon{
    display: flex;
    align-items: center;
    flex-direction: column !important;
    justify-content: flex-start !important;
}
.social-icon a{
    padding: 16px 38px 16px 38px !important;
}
.social-icon a i{
    font-size: 26px;
    background: linear-gradient(0deg,#fffafa 0.5%,#b9b8b7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-icon a i:hover{
    background: linear-gradient(0deg,#5f5e5e 0.5%,#131212 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-icon hr{
    display: block;
    margin-top: 60px;
    opacity: 1;
    color: #fff;
    width: 70px;
    rotate: 90deg;
} 



#search-bar form{
    border-radius: 50px;
    border: 1px solid #201e1e;
    background: #c0c0c0;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar form input{
    border-radius: 50px;
    background: #c0c0c0;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    width: 100%;
}
.s-btn-icon{
    background: inherit;
    border: none;
    border-radius: 50%;
    height: fit-content;
    margin-right: 5px;
    cursor: pointer;
}
.s-btn-icon i{
    font-size: 2rem;
    padding: 0 10px;
    color: rgb(71, 67, 67);
}





.wo-se h2{
    padding-right: 20px;
    margin-top: 1rem;
    letter-spacing: .1rem;
    background: linear-gradient(0deg,#fffafa 0.5%,#b9b8b7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.wo-se h2:hover{
    background: linear-gradient(0deg,#5f5e5e 0.5%,#131212 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:60vh;
    background-color: #f0f0f0; /* Adjust background color as needed */
}

.text {
    font-size: 8rem; /* Adjust font size as desired */
    letter-spacing: 0.6rem;
    font-weight: bold;
    color: #333; /* Adjust text color as needed */
    clip-path: polygon(0% 0%, 0% 100%, 0% 0%);
    overflow: hidden;
    text-align: center;
}

.cont-main{
    width: 100%;
    height: 100vh;
}
.cont-main img{
    width: 100%;
    height: 100%;
}


.brand-story{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* padding:60px; */
    background-color: #f0f0f0;
}

.brand-img{
    width: 50%;
    height:100%;
    position: relative;
}

.one{
    position: absolute;
    height: 270px;
    width: 220px;
    top: 15%;
    left: 20%;
}
.two{
    position: absolute;
    height: 130px;
    width: 90px;
    top: 20%;
    right: 30%;
}
.three{
    position: absolute;
    bottom: 18%;
    left: 38.5%;
    height: 150px;
    width: 100px;
}
.four{
    position: absolute;
    bottom: 26%;
    right: 17.5%;
    height: 200px;
    width: 170px;
}

.brand-info{
    width:30%;
    height:fit-content;
    text-align: left;
   
}

.brand-info h5{
    line-height: 3rem;
    font-size: 1rem;
}
.brand-info h2{
    line-height: 4rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.brand-info p{
    font-size: 1.2rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}


.navbar-toggler{
    border: 1px solid #333;
    background: linear-gradient(42deg,#726d6db9 0.01%,#c0c0c0 100%);
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}

.navbar-toggler:hover{
    background: inherit;
}

.navbar-toggler span{
    color: #fff;
    font-size: 22px;
}




aside{
    background-color: #5f5e5e;
    z-index: 10;
}
.sidepanel{
    position: fixed;
    width: 320px;
    height: 100vh;
    top: 0;
    left: -320px;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 40px 20px 20px 20px;
}

.sidebar{
    justify-content: space-between;
}

.sidebar img{
    width: 100px;

}
.sidebar button{
    width: 44px;
    height: 44px;
    background: linear-gradient(42deg,#6d5c5cb9 0.01%,#c0c0c0 100%);
    padding: 10px 12px 10px 12px;
    margin-bottom: -15px;
    border-radius: 50%;
    border: 1.5px solid #6d5c5cb9;
    color: #fff;
    cursor: pointer;
}

.sidebar button:hover{
    background: inherit;
}

.sidebar a{
    padding: 10px 0;
    
}

aside ul{
    
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
}

aside ul li{
    margin: 15px 0;
}

aside li a{
    color: #d3c9c1;
    transition: 500ms;
    padding: 10px 0;
}

aside ul li a.active{
    color: silver;
}

aside ul li a:hover{
    color: #131212;
    transition: 500ms;
}

aside .pages{
    font-weight: 500;
    color: #d3c9c1;
    margin: 11px 0 7px 0;
}

.collapse-btn{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.collapse-btn i{
    border: 1px solid #d3c9c1;
    padding: 7px 8px;
    border-radius: 40px;
}

.collapse-btn i:hover{
    border: 1px solid #f57c48;
}

.plus_collapse{
    margin: -52px 0 0 0;
    height: 45px;
}






@media screen and (max-width:880px){
    .navbar-toggler{
        display: block !important;
    }
    #work-sec{
        display: none;
    }

    #nav-bar{
        width: 100%;
        justify-content: space-around;
    }
}






@media (max-width: 450px){
    #menu{
        position: fixed;
        right: 4%;
        top: 3.5%;
    }

    .cont {
        display: flex;
        justify-content: center;
        align-items: center;
        height:fit-content;
        background-color: #f0f0f0; /* Adjust background color as needed */
    }
    
    .text {
        font-size: 4rem; /* Adjust font size as desired */
        line-height: 5rem;
        letter-spacing: 0.6rem;
        font-weight: bold;
        color: #333; /* Adjust text color as needed */
        clip-path: polygon(0% 0%, 0% 100%, 0% 0%);
        overflow: hidden;
        text-align: center;
    }
    

    .brand-story{
        display: inline-block;
        position: relative;
    }


    
.brand-info{
    width:100%;
    position: absolute;
    top: 0;
    padding: 1rem;
   
}

.brand-info h2{
    line-height: 4rem;
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

.brand-info p{
    font-size: 1.5rem;
    word-spacing: 0.25rem;
    letter-spacing: 0.2rem;
    line-height: 1.7rem;
}




.brand-img{
    width: 100%;
    height:50%;
    position: absolute;
    bottom: 0;
}

.one{
    position: absolute;
    height: 270px;
    width: 200px;
    top:0;;
    left: 7%;
}
.two{
    position: absolute;
    height: 130px;
    width: 90px;
    top: 10%;
    right: 20%;
}
.three{
    position: absolute;
    bottom: 4%;
    left: 30%;
    height: 150px;
    width: 100px;
}
.four{
    position: absolute;
    bottom: 13%;
    right: 7%;
    height: 200px;
    width: 150px;
}



}



@media (max-width: 820px){


    #menu{
        position: fixed;
        right: 4%;
        top: 3.5%;
    }

    .cont {
        display: flex;
        justify-content: center;
        align-items: center;
        height:fit-content;
        background-color: #f0f0f0; /* Adjust background color as needed */
    }
    
    .text {
        font-size: 5rem; /* Adjust font size as desired */
        line-height: 6rem;
        letter-spacing: 0.6rem;
        font-weight: bold;
        color: #333; /* Adjust text color as needed */
        clip-path: polygon(0% 0%, 0% 100%, 0% 0%);
        overflow: hidden;
        text-align: center;
    }
    

    .brand-story{
        display: inline-block;
        position: relative;
    }
    
    
.brand-info{
    width:100%;
    position: absolute;
    top: 5%;
    padding: 1rem;
   padding: 2rem;
}

.brand-info h2{
    line-height: 4rem;
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

.brand-info p{
    font-size: 2rem;
    word-spacing: 0.25rem;
    letter-spacing: 0.2rem;
    line-height: 2.1rem;
}




.brand-img{
    width: 100%;
    height:50%;
    position: absolute;
    bottom: 0;
}

.one{
    position: absolute;
    height: 270px;
    width: 200px;
    top:0;;
    left: 24%;
}
.two{
    position: absolute;
    height: 140px;
    width: 140px;
    top: 10%;
    right: 28%;
}
.three{
    position: absolute;
    bottom: 9%;
    left: 33%;
    height: 170px;
    width: 130px;
}
.four{
    position: absolute;
    bottom: 14%;
    right: 22%;
    height: 220px;
    width: 190px;
}



}